@{
    Layout = "_Layout";
}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Quản lý thuốc</h1>
</div>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách thuốc</h6>
            <!-- Nút mở modal -->
            <button class="btn btn-primary shadow-sm" data-toggle="modal" data-target="#addMedicineModal">
                <i class="fas fa-user-plus me-1"></i> Thêm thuốc
            </button>
        </div>

        <!-- Danh sách bác sĩ -->
        <div class="card-body">
            <div class="table-responsive">
                <div id="pageType" data-page="medicine"></div>
                <table class="table table-bordered text-center align-middle">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên thuốc</th>
                            <th>Đơn vị tính</th>
                            <th>Chức năng</th>
                            <th>Ngày tạo</th>
                            <th>Cập nhật</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="medicineTableBody"></tbody>
                </table>

                <!-- Phân trang -->
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <button id="prevPage" class="btn btn-outline-primary btn-sm mr-2">← Trước</button>
                    <span id="pageInfo" class="fw-bold text-primary mx-2"></span>
                    <button id="nextPage" class="btn btn-outline-primary btn-sm ml-2">Sau →</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Medicine Modal -->
<div class="modal fade" id="addMedicineModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg rounded-4">

            <!-- Modal header -->
            <div class="modal-header border-0 bg-primary text-white rounded-top-4">
                <h5 class="modal-title fw-semibold">
                    <i class="fa-solid fa-capsules"></i> Thêm thuốc mới
                </h5>
            </div>

            <!-- Modal body -->
            <div class="modal-body p-4">
                <form id="formAddMedicine">
                    <div class="row g-3">

                        <!-- Tên thuốc -->
                        <div class="col-md-6">
                            <label for="create_name" class="form-label fw-semibold">Tên thuốc</label>
                            <input id="create_name" type="text" class="form-control">
                        </div>

                        <!-- Đơn vị tính -->
                        <div class="col-md-6">
                            <label for="create_unit" class="form-label fw-semibold">Đơn vị tính</label>
                            <select id="create_unit" class="form-control">
                                <option value="">-- Chọn đơn vị --</option>
                                <option value="Viên">Viên</option>
                                <option value="Hộp">Hộp</option>
                                <option value="Chai">Chai</option>
                                <option value="Lọ">Lọ</option>
                                <option value="Ống">Ống</option>
                                <option value="Gói">Gói</option>
                                <option value="Tuýp">Tuýp</option>
                            </select>
                        </div>

                        <!-- Chức năng -->
                        <div class="col-md-12">
                            <label for="create_function" class="form-label fw-semibold">Chức năng</label>
                            <textarea id="create_function" class="form-control" rows="4" style="resize: none;"></textarea>

                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-0 d-flex justify-content-between">
                <button class="btn btn-light border shadow-sm" data-dismiss="modal">
                    <i class="fas fa-times me-1"></i> Đóng
                </button>
                <button class="btn" id="btnAddMedicine" style="background-color:#45c3d2; color:white;">
                    <i class="fas fa-save me-1"></i> Lưu thông tin
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Update Medicine Modal -->
<div class="modal fade" id="updateMedicineModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg rounded-4">

            <!-- Modal header -->
            <div class="modal-header border-0 bg-primary text-white rounded-top-4">
                <h5 class="modal-title fw-semibold">
                    <i class="fa-solid fa-capsules"></i> Cập nhật thông tin thuốc
                </h5>
            </div>

            <!-- Modal body -->
            <div class="modal-body p-4">
                <form id="formUpdateMedicine">
                    <div class="row g-3">

                        <!-- User ID -->
                        <input type="hidden" id="update_medicineId">

                        <!-- Tên thuốc -->
                        <div class="col-md-6">
                            <label for="update_name" class="form-label fw-semibold">Tên thuốc</label>
                            <input id="update_name" type="text" class="form-control">
                        </div>

                        <!-- Đơn vị tính -->
                        <div class="col-md-6">
                            <label for="update_unit" class="form-label fw-semibold">Đơn vị tính</label>
                            <select id="update_unit" class="form-control">
                                <option value="">-- Chọn đơn vị --</option>
                                <option value="Viên">Viên</option>
                                <option value="Hộp">Hộp</option>
                                <option value="Chai">Chai</option>
                                <option value="Lọ">Lọ</option>
                                <option value="Ống">Ống</option>
                                <option value="Gói">Gói</option>
                                <option value="Tuýp">Tuýp</option>
                            </select>
                        </div>

                        <!-- Chức năng -->
                        <div class="col-md-12">
                            <label for="update_function" class="form-label fw-semibold">Chức năng</label>
                            <textarea id="update_function" class="form-control" rows="4" style="resize: none;"></textarea>

                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-0 d-flex justify-content-between">
                <button class="btn btn-light border shadow-sm" data-dismiss="modal">
                    <i class="fas fa-times me-1"></i> Đóng
                </button>
                <button class="btn" id="btnUpdateMedicine" style="background-color:#45c3d2; color:white;">
                    <i class="fas fa-save me-1"></i> Lưu thông tin
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/medicine_management.js"></script>
    <script src="~/js/search_layout.js"></script>
}