@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookingCare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookingCare.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bookingcare.css" />
    <link rel="stylesheet" href="~/css/home_page.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark booking-navbar">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/BookingCareLogo.png"
                         alt="BookingCare Logo"
                         class="d-inline-block align-text-top booking-logo" />

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Đặt lịch khám</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Tài khoản</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Chính sách</a>
                        </li>
                    </ul>
                    <!-- Hiển thị đăng nhập / đăng xuất -->
                    <ul class="navbar-nav">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline"
                                      onsubmit="return confirm('Bạn có chắc chắn muốn đăng xuất không?');">
                                    <button type="submit" class="btn btn-link nav-link text-white">Đăng xuất</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Account" asp-action="RegisterEmailPassword">Đăng ký</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="booking-footer text-white mt-5">
        <div class="container text-center py-3">
            <p class="mb-1 fw-bold">© 2025 BookingCare Việt Nam</p>
            <small>Liên hệ: support@bookingcare.vn | Hotline: 1900 1234  <a class="text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Chính sách</a></small>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
