.slide-img {
    height: 500px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.4s ease;
    border-radius:20px;
}
.carousel-inner{
    border-radius:20px;
}

.slide-img:hover {
    transform: scale(1.02);
}
.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
