@model BookingCare.Models.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Register - Step 1";
}

<h2>Enter Email and Password</h2>

<form asp-controller="Account" asp-action="RegisterEmailPassword" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ConfirmedPassword"></label>
        <input asp-for="ConfirmedPassword" type="password" />
        <span asp-validation-for="ConfirmedPassword" class="text-danger"></span>
    </div>

    <button type="submit">Next</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
