@model BookingCare.Models.ViewModel.ResetPassViewModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="bc-box">
        <h2 class="text-center bc-title mb-4">Nhập email đăng ký và mật khẩu mới</h2>

        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Nhập email của bạn" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Nhập mật khẩu mới" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmedNewPassword" class="form-label"></label>
                <input asp-for="ConfirmedNewPassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu mới" />
                <span asp-validation-for="ConfirmedNewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-booking w-100">Tiếp tục</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}